.valueConfigBox {
    background-color: rgba(1, 149, 255, 0.149);
    border-radius: 30px;
    width: 100;
    margin-right: 15%;
    margin-top: 5%;
    margin-left: 15%;
}

.form {
    margin: 5%;
    font-size: x-large;
}

.check {
    margin-top: 1%;
}

.title {
    font-size: xx-large;
}

.button {
    margin-top: 5%;
    font-size: x-large;
}

.generic {
    width: 66%;
    display: flex;
}

.weight {
    padding: 2%;
}

.label {
    font-size: x-large;
    align-items: center;
    margin-right: 2%;
}

.labelSecondary {
    font-size: medium;
    align-items: center;
    margin-right: 2%;
    margin-left: 5%;
}


.input{
    font-size: large;
    width: 150px;
    height: fit-content;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 2%;
}

.inputSecondary{
    font-size: small;
    width: 80px;
    height: fit-content;
    align-items: center;
    margin-bottom: 10px;
}

.colLabel{
    display: flex;
    align-items: center;
    text-align: center;
}

.rowWarehouse{
    margin-top: 20px;
}

.rowWarehouseSecondary{
    margin-top: 12px;
    margin-left: 20px;
}