.rowFilters {
    width: 100%;
    margin-bottom: 5%;
    align-items: center;
}

.colButtons {
    display: block;
    text-align: center;
    position: relative;
}

.spinner{
    margin-top: 20%;
    width: 10rem;
    height: 10rem;
}

.range{
    display: block;
    width: 100%;
    align-items: center
}

.keys{
    font-size: x-small;
}

.values{
    font-size: x-small;
    font-weight: bold;
}