.rowFilters {
    margin-bottom: 5%;
    align-items: center;
}

.colFilters {
    margin-right: 1%;
    margin-left: 1%;
}

.colButtons {
    display: block;
    text-align: center;
    position: relative;
}

.spinner{
    margin-top: 20%;
    width: 10rem;
    height: 10rem;
}