.map {
    width: 100%;
    height: 60vh;
    margin-bottom: 3%;
}

.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    width: 10px;      
    height: 10px;
    background-size: 100%;
    background-color: #84b6f4;
    opacity: 30%;
}

.checkPopUp{
  margin-top: 10px;
  margin-left: 20px;
}

.fieldsPopUp{
  font-size: medium;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-top: 5px;
}

.popUp{
  width:max-content;
  align-items: center;
  color: white;
}

.popUpButtons {
  width: 100%;
  display: block;
  text-align: center;
  position: relative;
  margin-top: 5px;
}

.popUpTitle {
  font-weight: bolder;
  width: 100%;
  display: block;
  text-align: center;
  position: relative;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: medium;
  border-width: 2px;
  border-bottom-color: black;
  border-bottom-style: solid;
  margin-left: 20px;
  margin-right: 20px;
}

.mapboxgl-popup-content{
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.9);
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip{
  border-bottom-color: rgba(0, 0, 0, 0.9);
}